@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Kanit:ital,wght@1,300&family=Kavoon&family=Permanent+Marker&family=Roboto&family=Silkscreen&display=swap');

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-size: 1rem;
}

:root {
    --primary-color:#ffffff;
    --secondary-color:#e2e8f0;
    --overlay-color:#f1f5f9;
    --accent-color: #444;
    --system-ui: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

body {
    background-color: var(--primary-color);
    font-family: 'Roboto', var(--system-ui);
}

.form-content {
  position: absolute;
  top: 40%;
  left: 40%;
}

.overlay {
    z-index: -1;
    position: absolute;
    visibility: hidden;
    height: 92vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.7)
}

label {
    font-size: 1.5rem;
}

.submit {
    padding: 0.5rem;
    margin-top: 0.5em;
}

.new-book-form {
    z-index: 1; 
    background-color: var(--secondary-color);
   visibility: hidden;
   display: -webkit-box;
   display: -ms-flexbox;
    display: flex; 
   -webkit-box-orient: vertical;
   -webkit-box-direction: normal;
       -ms-flex-direction: column;
            flex-direction: column; 
   -webkit-box-align: center;
       -ms-flex-align: center;
           align-items: center; 
   gap: 0.5rem;
   border: 2px solid black;
   padding: 2em;
   border-radius: 8%;
   min-width: 20vw;
   -webkit-box-shadow: 8px 8px 12px var(--accent-color);
           box-shadow: 8px 8px 12px var(--accent-color);
}

/* .new-book-form i {
    display: -ms-grid;
    display: grid;
    -ms-grid-row-align: end;
    -ms-grid-column-align: end;
    place-self: end;
    cursor: pointer;
} */

.book-card-section {
    z-index: -2;
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 2rem;
    padding: 1rem;
    text-align: center;
    border-radius: 8px;
}

.card-info {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border: 2px solid black;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding: 2.5rem;
    margin-top: 0.5rem;
    border-radius: 8px;
    font-weight: bold;
    -webkit-box-shadow: 4px 4px 12px var(--accent-color);
            box-shadow: 4px 4px 12px var(--accent-color);
    border-left: 6px solid black;
    /* background-color: var(--secondary-color); */
}

.read-section {
    margin-top: 0.25em;
}

.read-section i {
    margin: 0.25em;
    font-size: 1.25em;
}

.remove-btn {
    font-weight: 800;
    margin-top: 0.25em;
    padding: 0.25em;
}

p {
    line-height: 2em;
    -webkit-box-shadow: 0px 1.5px 0px var(--accent-color);
            box-shadow: 0px 1.5px 0px var(--accent-color);
}

.heading {
    min-height: 8vh;
    background-color: var(--secondary-color);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack:justify;
        -ms-flex-pack:justify;
            justify-content:space-between;
    padding: 1rem;
    -webkit-box-shadow: 0px 0px 5px black;
            box-shadow: 0px 0px 5px black;
}

.heading-title, .fa-plus {
    font-size: 1.5rem;
}

.fa-plus {  
    cursor: pointer;
    -webkit-transition: 0.2s all;
    -o-transition: 0.2s all;
    transition: 0.15s all;
}

.fa-plus:active {
    -webkit-transform:scale(0.5);
        -ms-transform:scale(0.5);
            transform:scale(0.5)
}

input[type="text"] {
    border-radius: 3px;
    border: none;
}
